/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align: center;
	background-size: 100% 100%;
}

/* Fixed header and footer.
* --------------------------------------- */
footer {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 10;
	bottom:0px;
	padding: 10px 0 !important;
}

nav {
	position: relative;
	top:0px;
	z-index: 10;
}

img {
	width: 25%;
}