/* Style for our header texts
* --------------------------------------- */
h1 {
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
	padding:0;
}

/* Centered texts in each section
* --------------------------------------- */
.section {
	text-align:center;
	background-size: 100% 100%;
}

/* Fixed header and footer.
* --------------------------------------- */
footer {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 10;
}

nav {
	position: relative;
	top:0px;
	z-index: 10;
}
footer {
	bottom:0px;
}